/*
                        _______
                       /       \
                      .==.    .==.
                     ((  ))==((  ))
                    / "=="    "=="\
                   /____|| || ||___\
       ________     ____    ________  ___    ___
       |  ___  \   /    \   |  ___  \ |  |  /  /
       |  |  \  \ /  /\  \  |  |  \  \|  |_/  /
       |  |   )  /  /__\  \ |  |__/  /|  ___  \
       |  |__/  /  ______  \|  ____  \|  |  \  \
_______|_______/__/ ____ \__\__|___\__\__|___\__\____
|  ___  \ |  ____/ /    \   |  ___  \ |  ____|  ___  \
|  |  \  \|  |___ /  /\  \  |  |  \  \|  |___|  |  \  \
|  |__/  /|  ____/  /__\  \ |  |   )  |  ____|  |__/  /
|  ____  \|  |__/  ______  \|  |__/  /|  |___|  ____  \
|__|   \__\____/__/      \__\_______/ |______|__|   \__\
                https://darkreader.org
*/

/*! Dark reader generated CSS | Licensed under MIT https://github.com/darkreader/darkreader/blob/master/LICENSE */

/* User-Agent Style */
html {
    background-color: #17191a !important;
}

html {
    color-scheme: dark !important;
}

html,
body {
    background-color: #17191a;
}

html,
body {
    border-color: #736b5e;
    color: #e9e7e4;
}

a {
    color: #3291ff;
}

table {
    border-color: #545b5e;
}

::placeholder {
    color: #b3aba1;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #3f4300 !important;
    color: #e9e7e4 !important;
}

::-webkit-scrollbar {
    background-color: #1f2223;
    color: #aba499;
}

::-webkit-scrollbar-thumb {
    background-color: #44494c;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #575e62;
}

::-webkit-scrollbar-thumb:active {
    background-color: #474e51;
}

::-webkit-scrollbar-corner {
    background-color: #17191a;
}

::selection {
    background-color: #004caa !important;
    color: #e9e7e4 !important;
}

::-moz-selection {
    background-color: #004caa !important;
    color: #e9e7e4 !important;
}

/* Invert Style */
.jfk-bubble.gtx-bubble,
.captcheck_answer_label>input+img {
    filter: invert(100%) hue-rotate(180deg) contrast(91%) !important;
}

/* Variables Style */
:root {
    --darkreader-neutral-background: #121415;
    --darkreader-neutral-text: #d9d5d0;
    --darkreader-selection-background: #004caa;
    --darkreader-selection-text: #e9e7e4;
}

/* Modified CSS */
.nuxt-progress {
    background-color: rgb(0, 0, 0);
}

.nuxt-progress-failed {
    background-color: rgb(205, 0, 0);
}

.nuxt__build_indicator[data-v-71e9e103] {
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 2px 0px;
}

.grid-view__column--matches-search .field-multiple-select__item.background-color--light-blue,
.background-color--light-red .field-multiple-select__item.background-color--light-red,
.background-color--red .field-multiple-select__item.background-color--red,
.background-color--dark-red .field-multiple-select__item.background-color--dark-red,
.background-color--light-blue .field-multiple-select__item.background-color--light-blue,
.background-color--blue .field-multiple-select__item.background-color--blue,
.background-color--dark-blue .field-multiple-select__item.background-color--dark-blue,
.background-color--light-gray .field-multiple-select__item.background-color--light-gray,
.background-color--gray .field-multiple-select__item.background-color--gray,
.background-color--dark-gray .field-multiple-select__item.background-color--dark-gray,
.background-color--light-green .field-multiple-select__item.background-color--light-green,
.background-color--green .field-multiple-select__item.background-color--green,
.background-color--dark-green .field-multiple-select__item.background-color--dark-green,
.background-color--light-orange .field-multiple-select__item.background-color--light-orange,
.background-color--orange .field-multiple-select__item.background-color--orange,
.background-color--dark-orange .field-multiple-select__item.background-color--dark-orange,
.background-color--light-red .card-single-select-option.background-color--light-red,
.background-color--red .card-single-select-option.background-color--red,
.background-color--dark-red .card-single-select-option.background-color--dark-red,
.background-color--light-blue .card-single-select-option.background-color--light-blue,
.background-color--blue .card-single-select-option.background-color--blue,
.background-color--dark-blue .card-single-select-option.background-color--dark-blue,
.background-color--light-gray .card-single-select-option.background-color--light-gray,
.background-color--gray .card-single-select-option.background-color--gray,
.background-color--dark-gray .card-single-select-option.background-color--dark-gray,
.background-color--light-green .card-single-select-option.background-color--light-green,
.background-color--green .card-single-select-option.background-color--green,
.background-color--dark-green .card-single-select-option.background-color--dark-green,
.background-color--light-orange .card-single-select-option.background-color--light-orange,
.background-color--orange .card-single-select-option.background-color--orange,
.background-color--dark-orange .card-single-select-option.background-color--dark-orange,
.grid-view__column--matches-search .grid-field-single-select__option.background-color--light-blue,
.background-color--light-red .grid-field-single-select__option.background-color--light-red,
.background-color--red .grid-field-single-select__option.background-color--red,
.background-color--dark-red .grid-field-single-select__option.background-color--dark-red,
.background-color--light-blue .grid-field-single-select__option.background-color--light-blue,
.background-color--blue .grid-field-single-select__option.background-color--blue,
.background-color--dark-blue .grid-field-single-select__option.background-color--dark-blue,
.background-color--light-gray .grid-field-single-select__option.background-color--light-gray,
.background-color--gray .grid-field-single-select__option.background-color--gray,
.background-color--dark-gray .grid-field-single-select__option.background-color--dark-gray,
.background-color--light-green .grid-field-single-select__option.background-color--light-green,
.background-color--green .grid-field-single-select__option.background-color--green,
.background-color--dark-green .grid-field-single-select__option.background-color--dark-green,
.background-color--light-orange .grid-field-single-select__option.background-color--light-orange,
.background-color--orange .grid-field-single-select__option.background-color--orange,
.background-color--dark-orange .grid-field-single-select__option.background-color--dark-orange,
.grid-view__column--matches-search .grid-field-multiple-select__item.background-color--light-blue,
.background-color--light-red .grid-field-multiple-select__item.background-color--light-red,
.background-color--red .grid-field-multiple-select__item.background-color--red,
.background-color--dark-red .grid-field-multiple-select__item.background-color--dark-red,
.background-color--light-blue .grid-field-multiple-select__item.background-color--light-blue,
.background-color--blue .grid-field-multiple-select__item.background-color--blue,
.background-color--dark-blue .grid-field-multiple-select__item.background-color--dark-blue,
.background-color--light-gray .grid-field-multiple-select__item.background-color--light-gray,
.background-color--gray .grid-field-multiple-select__item.background-color--gray,
.background-color--dark-gray .grid-field-multiple-select__item.background-color--dark-gray,
.background-color--light-green .grid-field-multiple-select__item.background-color--light-green,
.background-color--green .grid-field-multiple-select__item.background-color--green,
.background-color--dark-green .grid-field-multiple-select__item.background-color--dark-green,
.background-color--light-orange .grid-field-multiple-select__item.background-color--light-orange,
.background-color--orange .grid-field-multiple-select__item.background-color--orange,
.background-color--dark-orange .grid-field-multiple-select__item.background-color--dark-orange,
.grid-view__column--matches-search .array-field__single-select-option.background-color--light-blue,
.background-color--light-red .array-field__single-select-option.background-color--light-red,
.background-color--red .array-field__single-select-option.background-color--red,
.background-color--dark-red .array-field__single-select-option.background-color--dark-red,
.background-color--light-blue .array-field__single-select-option.background-color--light-blue,
.background-color--blue .array-field__single-select-option.background-color--blue,
.background-color--dark-blue .array-field__single-select-option.background-color--dark-blue,
.background-color--light-gray .array-field__single-select-option.background-color--light-gray,
.background-color--gray .array-field__single-select-option.background-color--gray,
.background-color--dark-gray .array-field__single-select-option.background-color--dark-gray,
.background-color--light-green .array-field__single-select-option.background-color--light-green,
.background-color--green .array-field__single-select-option.background-color--green,
.background-color--dark-green .array-field__single-select-option.background-color--dark-green,
.background-color--light-orange .array-field__single-select-option.background-color--light-orange,
.background-color--orange .array-field__single-select-option.background-color--orange,
.background-color--dark-orange .array-field__single-select-option.background-color--dark-orange,
.background-color--light-red .left-border-decorator.background-color--light-red,
.background-color--red .left-border-decorator.background-color--red,
.background-color--dark-red .left-border-decorator.background-color--dark-red,
.background-color--light-blue .left-border-decorator.background-color--light-blue,
.background-color--blue .left-border-decorator.background-color--blue,
.background-color--dark-blue .left-border-decorator.background-color--dark-blue,
.background-color--light-gray .left-border-decorator.background-color--light-gray,
.background-color--gray .left-border-decorator.background-color--gray,
.background-color--dark-gray .left-border-decorator.background-color--dark-gray,
.background-color--light-green .left-border-decorator.background-color--light-green,
.background-color--green .left-border-decorator.background-color--green,
.background-color--dark-green .left-border-decorator.background-color--dark-green,
.background-color--light-orange .left-border-decorator.background-color--light-orange,
.background-color--orange .left-border-decorator.background-color--orange,
.background-color--dark-orange .left-border-decorator.background-color--dark-orange,
.conditional-color-value-provider-form__color-color {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px inset;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom-color: initial;
    text-decoration-color: initial;
}

mark {
    background-color: rgb(153, 153, 0);
    color: rgb(233, 231, 228);
}

legend {
    color: inherit;
}

.fa-border {
    border-color: rgb(52, 56, 58);
}

.fa-inverse {
    color: rgb(233, 231, 228);
}

.sr-only {
    border-color: initial;
}

body {
    background-color: rgb(29, 31, 32);
}

:focus {
    outline-color: initial;
}

body {
    color: rgb(209, 205, 198);
}

a {
    color: rgb(59, 165, 233);
    text-decoration-color: initial;
}

a:hover {
    text-decoration-color: initial;
}

p {
    color: rgb(159, 151, 138);
}

.background-white {
    background-color: rgb(23, 25, 26);
}

.color-primary {
    color: rgb(59, 165, 233) !important;
}

.color-success {
    color: rgb(100, 209, 151) !important;
}

.color-warning {
    color: rgb(251, 193, 93) !important;
}

.color-error {
    color: rgb(240, 104, 87) !important;
}

.background-color--light-blue {
    background-color: rgb(29, 31, 32);
}

.background-color--light-gray {
    background-color: rgb(29, 31, 32);
}

.background-color--light-green {
    background-color: rgb(0, 65, 37);
}

.background-color--light-orange {
    background-color: rgb(65, 41, 0);
}

.background-color--light-red {
    background-color: rgb(65, 4, 0);
}

.background-color--blue {
    background-color: rgb(47, 51, 53);
}

.background-color--gray {
    background-color: rgb(43, 47, 49);
}

.background-color--green {
    background-color: rgb(0, 91, 54);
}

.background-color--orange {
    background-color: rgb(88, 55, 0);
}

.background-color--red {
    background-color: rgb(94, 8, 0);
}

.background-color--dark-blue {
    background-color: rgb(18, 80, 118);
}

.background-color--dark-gray {
    background-color: rgb(61, 67, 69);
}

.background-color--dark-green {
    background-color: rgb(13, 105, 68);
}

.background-color--dark-orange {
    background-color: rgb(101, 63, 0);
}

.background-color--dark-red {
    background-color: rgb(108, 19, 8);
}

.color--light-blue {
    color: rgb(191, 230, 255);
}

.color--light-gray {
    color: rgb(227, 224, 220);
}

.color--light-green {
    color: rgb(187, 255, 218);
}

.color--light-orange {
    color: rgb(255, 231, 187);
}

.color--light-red {
    color: rgb(255, 193, 187);
}

.color--blue {
    color: rgb(158, 209, 243);
}

.color--gray {
    color: rgb(211, 207, 201);
}

.color--green {
    color: rgb(158, 255, 204);
}

.color--orange {
    color: rgb(255, 222, 161);
}

.color--red {
    color: rgb(255, 164, 154);
}

.color--dark-blue {
    color: rgb(124, 193, 235);
}

.color--dark-gray {
    color: rgb(190, 184, 175);
}

.color--dark-green {
    color: rgb(140, 241, 188);
}

.color--dark-orange {
    color: rgb(255, 215, 145);
}

.color--dark-red {
    color: rgb(247, 149, 136);
}

.add {
    background-color: rgb(29, 31, 32);
    color: rgb(209, 205, 198);
}

.add:hover {
    background-color: rgb(47, 51, 53);
    text-decoration-color: initial;
}

.button {
    border-color: transparent;
    text-decoration-color: initial;
    background-color: rgb(19, 113, 171);
    color: rgb(233, 231, 228);
}

.button:active {
    background-color: rgb(15, 97, 147);
}

.button.disabled,
.button[disabled] {
    background-color: rgb(19, 113, 171);
}

.button.button--loading {
    background-color: rgb(15, 97, 147);
    color: rgb(80, 176, 237);
}

.button:hover,
.button:focus {
    text-decoration-color: initial;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px;
}

.button.disabled,
.button[disabled] {
    box-shadow: none;
}

.button--success {
    background-color: rgb(41, 139, 101);
    color: rgb(233, 231, 228);
}

.button--success:active {
    background-color: rgb(43, 133, 86);
}

.button--success.disabled,
.button--success[disabled] {
    background-color: rgb(41, 139, 101);
}

.button--success.button--loading {
    background-color: rgb(43, 133, 86);
    color: rgb(100, 205, 149);
}

.button--warning {
    background-color: rgb(146, 93, 4);
    color: rgb(233, 231, 228);
}

.button--warning:active {
    background-color: rgb(157, 117, 46);
}

.button--warning.disabled,
.button--warning[disabled] {
    background-color: rgb(146, 93, 4);
}

.button--warning.button--loading {
    background-color: rgb(157, 117, 46);
    color: rgb(203, 157, 79);
}

.button--error {
    background-color: rgb(150, 29, 14);
    color: rgb(233, 231, 228);
}

.button--error:active {
    background-color: rgb(153, 52, 39);
}

.button--error.disabled,
.button--error[disabled] {
    background-color: rgb(150, 29, 14);
}

.button--error.button--loading {
    background-color: rgb(153, 52, 39);
    color: rgb(210, 95, 81);
}

.button--ghost {
    background-color: rgb(23, 25, 26);
    color: rgb(209, 205, 198);
    border-color: rgb(72, 80, 83);
}

.button--ghost:active {
    background-color: rgb(29, 31, 32);
}

.button--ghost.disabled,
.button--ghost[disabled] {
    background-color: rgb(23, 25, 26);
}

.button--ghost.button--loading {
    background-color: rgb(29, 31, 32);
    color: rgb(227, 224, 220);
}

.button--ghost.button--loading::after {
    border-color: rgb(126, 117, 103) transparent;
}

.button--loading:hover,
.button--loading:focus {
    box-shadow: none;
}

.button--loading::after {
    border-color: rgb(47, 51, 53) transparent;
}

.alert {
    background-color: rgb(29, 31, 32);
    border-color: rgb(19, 85, 125);
}

.alert .alert__icon {
    border-color: rgb(24, 95, 139);
}

.alert .alert__title {
    color: rgb(209, 205, 198);
}

.alert .alert__content {
    color: rgb(101, 188, 241);
}

.alert .alert__close {
    color: rgb(209, 205, 198);
}

.alert .alert__close:hover {
    color: rgb(101, 188, 241);
}

.alert.alert--simple {
    background-color: rgb(23, 25, 26);
    border-color: rgb(57, 62, 64);
}

.alert.alert--simple .alert__title {
    color: rgb(209, 205, 198);
}

.alert.alert--simple .alert__content {
    color: rgb(180, 172, 162);
}

.alert.alert--simple .alert__close {
    color: rgb(159, 151, 138);
}

.alert.alert--with-shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 6px 0px;
}

.alert__icon {
    background-color: rgb(23, 25, 26);
    border-color: initial;
}

.alert--success {
    background-color: rgb(0, 65, 37);
    border-color: rgb(15, 120, 64);
}

.alert--success .alert__icon {
    border-color: rgb(28, 120, 71);
}

.alert--success .alert__title {
    color: rgb(211, 207, 201);
}

.alert--success .alert__content {
    color: rgb(124, 226, 171);
}

.alert--success .alert__close {
    color: rgb(211, 207, 201);
}

.alert--success .alert__close:hover {
    color: rgb(124, 226, 171);
}

.alert--success.alert--simple {
    background-color: rgb(23, 25, 26);
    border-color: rgb(57, 62, 64);
}

.alert--success.alert--simple .alert__title {
    color: rgb(209, 205, 198);
}

.alert--success.alert--simple .alert__content {
    color: rgb(180, 172, 162);
}

.alert--success.alert--simple .alert__close {
    color: rgb(159, 151, 138);
}

.alert--warning {
    background-color: rgb(65, 41, 0);
    border-color: rgb(127, 80, 0);
}

.alert--warning .alert__icon {
    border-color: rgb(132, 85, 5);
}

.alert--warning .alert__title {
    color: rgb(203, 199, 192);
}

.alert--warning .alert__content {
    color: rgb(221, 179, 104);
}

.alert--warning .alert__close {
    color: rgb(203, 199, 192);
}

.alert--warning .alert__close:hover {
    color: rgb(221, 179, 104);
}

.alert--warning.alert--simple {
    background-color: rgb(23, 25, 26);
    border-color: rgb(57, 62, 64);
}

.alert--warning.alert--simple .alert__title {
    color: rgb(209, 205, 198);
}

.alert--warning.alert--simple .alert__content {
    color: rgb(180, 172, 162);
}

.alert--warning.alert--simple .alert__close {
    color: rgb(159, 151, 138);
}

.alert--error {
    background-color: rgb(65, 4, 0);
    border-color: rgb(125, 22, 9);
}

.alert--error .alert__icon {
    border-color: rgb(137, 26, 11);
}

.alert--error .alert__title {
    color: rgb(208, 204, 197);
}

.alert--error .alert__content {
    color: rgb(226, 118, 103);
}

.alert--error .alert__close {
    color: rgb(208, 204, 197);
}

.alert--error .alert__close:hover {
    color: rgb(226, 118, 103);
}

.alert--error.alert--simple {
    background-color: rgb(23, 25, 26);
    border-color: rgb(57, 62, 64);
}

.alert--error.alert--simple .alert__title {
    color: rgb(209, 205, 198);
}

.alert--error.alert--simple .alert__content {
    color: rgb(180, 172, 162);
}

.alert--error.alert--simple .alert__close {
    color: rgb(159, 151, 138);
}

.control__description {
    color: rgb(163, 156, 144);
}

.control__context {
    color: rgb(209, 205, 198);
}

.control__context:hover {
    text-decoration-color: initial;
    color: rgb(159, 151, 138);
}

.input {
    border-color: rgb(72, 80, 83);
    outline-color: initial;
}

.input:active,
.input:focus {
    border-color: rgb(18, 108, 164);
}

.input.input--error {
    border-color: rgb(145, 27, 13);
}

.input[disabled] {
    color: rgb(209, 205, 198);
    background-color: rgb(26, 28, 29);
}

.input[disabled]:active,
.input[disabled]:focus {
    border-color: rgb(72, 80, 83);
}

.input__with-icon i {
    color: rgb(190, 184, 175);
}

.input__with-icon.input__with-icon--loading::after {
    border-color: rgb(18, 108, 164) transparent;
}

.checkbox::before {
    border-color: rgb(72, 80, 83);
    background-color: rgb(23, 25, 26);
    color: rgb(100, 205, 149);
}

.checkbox.checkbox--disabled {
    color: rgb(159, 151, 138);
}

.checkbox.checkbox--disabled::before {
    background-color: rgb(26, 28, 29);
    color: rgb(159, 151, 138);
}

.radio::before {
    border-color: rgb(72, 80, 83);
    background-color: rgb(23, 25, 26);
    color: rgb(233, 231, 228);
}

.radio.selected::before {
    background-color: rgb(19, 113, 171);
    border-color: rgb(18, 108, 164);
}

.radio.radio--disabled {
    color: rgb(163, 156, 144);
}

.radio.radio--disabled::before {
    background-color: rgb(26, 28, 29);
}

.radio.radio--disabled.selected::before {
    background-color: rgb(89, 97, 100);
    border-color: rgb(81, 87, 91);
}

.radio.radio--loading::after {
    border-color: rgb(18, 108, 164) transparent;
}

.switch::before {
    background-color: rgb(43, 47, 49);
}

.switch::after {
    background-color: rgb(23, 25, 26);
}

.switch.active::before {
    background-color: rgb(41, 139, 101);
}

.switch.unknown::before {
    background-color: rgb(146, 93, 4);
}

.switch.switch--disabled.active::before {
    background-color: rgb(82, 89, 92);
}

.switch.switch--disabled.unknown::before {
    background-color: rgb(74, 81, 84);
}

.switch__icon {
    color: rgb(163, 156, 144);
}

.error {
    color: rgb(240, 104, 87);
}

.warning {
    color: rgb(203, 157, 79);
}

.action__links {
    list-style-image: initial;
}

.box,
.modal__box {
    background-color: rgb(23, 25, 26);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px 0px;
}

.box__head {
    border-bottom-color: rgb(57, 62, 64);
}

.box__title {
    border-bottom-color: rgb(57, 62, 64);
}

.box__message-icon {
    color: rgb(59, 165, 233);
}

.box__message-text {
    color: rgb(209, 205, 198);
}

.layout__col-2-scroll.layout__col-2-scroll--white-background {
    background-color: rgb(23, 25, 26);
}

.tree {
    list-style-image: initial;
}

.tree__item.active {
    background-color: rgb(29, 31, 32);
}

.tree__item.tree__item--loading::after {
    border-color: rgb(18, 108, 164) transparent;
}

.tree__action:not(.tree__action--disabled):hover {
    background-color: rgb(29, 31, 32);
}

.tree__item.active .tree__action:hover {
    background-color: transparent;
}

.tree__link {
    color: rgb(209, 205, 198);
}

.tree__action--deactivated .tree__link {
    color: rgb(159, 151, 138);
}

.tree__link:hover {
    text-decoration-color: initial;
}

.tree__icon {
    color: rgb(180, 172, 162);
}

.tree__icon.tree__icon--type {
    color: rgb(190, 184, 175);
}

.tree__subs {
    list-style-image: initial;
}

.tree__sub::before {
    border-left-color: rgb(57, 62, 64);
}

.tree__sub::after {
    border-bottom-color: rgb(57, 62, 64);
}

.tree__sub-link {
    color: rgb(209, 205, 198);
}

.tree__sub-link:hover {
    text-decoration-color: initial;
    color: rgb(59, 165, 233);
}

.active>.tree__sub-link {
    color: rgb(80, 176, 237);
}

.tree__sub-add {
    color: rgb(190, 184, 175);
}

.tree__sub-add:hover {
    text-decoration-color: initial;
    color: rgb(159, 151, 138);
}

.tree__right-icon,
.tree__options {
    color: rgb(180, 172, 162);
}

.tree__options {
    color: rgb(190, 184, 175);
}

.tree__options:hover {
    color: rgb(180, 172, 162);
}

.sidebar {
    background-color: rgb(25, 27, 28);
    border-right-color: rgb(57, 62, 64);
}

.sidebar__user:hover {
    background-color: rgb(29, 31, 32);
    text-decoration-color: initial;
}

.sidebar__user-initials {
    color: rgb(233, 231, 228);
    background-color: rgb(19, 113, 171);
}

.sidebar__user-name {
    color: rgb(209, 205, 198);
}

.sidebar__user-icon {
    color: rgb(209, 205, 198);
}

.sidebar__user-email {
    color: rgb(163, 156, 144);
}

.sidebar__new {
    color: rgb(190, 184, 175);
}

.sidebar__new:hover {
    color: rgb(159, 151, 138);
    text-decoration-color: initial;
}

.sidebar__foot-link {
    color: rgb(180, 172, 162);
}

.sidebar__foot-link:hover {
    text-decoration-color: initial;
    background-color: rgb(29, 31, 32);
}

.sidebar__foot-link.sidebar__foot-link--loading {
    color: transparent;
}

.sidebar__foot-link.sidebar__foot-link--loading:hover {
    background-color: transparent;
}

.sidebar__foot-link.sidebar__foot-link--loading::before {
    border-color: rgb(18, 108, 164) transparent;
}

.layout--collapsed .sidebar__action .sidebar__item-name {
    background-color: rgb(32, 34, 36);
    color: rgb(233, 231, 228);
}

.header {
    background-color: rgb(23, 25, 26);
    border-bottom-color: rgb(57, 62, 64);
}

.header__loading {
    background-color: rgb(29, 31, 32);
}

.header__loading::before {
    background-color: rgb(26, 28, 29);
}

.header__undo-redo a {
    color: rgb(190, 184, 175);
}

.header__undo-redo a.active {
    color: rgb(195, 189, 181);
}

.header__undo-redo a.active:hover {
    color: rgb(59, 165, 233);
}

.header__filter {
    list-style-image: initial;
}

.header__filter-link {
    color: rgb(209, 205, 198);
}

.header__filter-link:hover {
    text-decoration-color: initial;
    background-color: rgb(29, 31, 32);
}

.header__filter-link--disabled:hover {
    background-color: transparent;
}

.header__filter-link.active {
    background-color: rgb(0, 65, 37);
}

.header__filter-link.active--primary {
    background-color: rgb(29, 31, 32);
}

.header__filter-link.active--warning {
    background-color: rgb(65, 41, 0);
}

.header__filter-link.active--error {
    background-color: rgb(65, 4, 0);
}

.header__filter-icon {
    color: rgb(209, 205, 198);
}

.header__filter-icon.header-filter-icon--view {
    color: rgb(59, 165, 233);
}

.header__filter-icon.header-filter-icon--no-choice {
    color: rgb(211, 207, 201);
}

.header__search-icon {
    color: rgb(209, 205, 198);
}

.header__info {
    list-style-image: initial;
}

.header__info li {
    border-right-color: rgb(57, 62, 64);
}

.scrollbars__vertical,
.scrollbars__horizontal {
    background-color: rgb(32, 34, 36);
}

.modal__wrapper {
    background-color: rgba(63, 68, 71, 0.16);
}

.modal__box {
    background-color: rgb(23, 25, 26);
}

.modal__box-sidebar {
    background-color: rgb(26, 28, 29);
}

.modal__box-sidebar.modal__box-sidebar--left {
    border-right-color: rgb(57, 62, 64);
}

.modal__box-sidebar.modal__box-sidebar--right {
    border-left-color: rgb(57, 62, 64);
}

.modal__close {
    color: rgb(175, 168, 158);
}

.modal__close:hover {
    color: rgb(195, 189, 181);
}

.modal__head {
    border-bottom-color: rgb(57, 62, 64);
}

.context,
.select,
.time-select,
.formula-field {
    background-color: rgb(23, 25, 26);
    border-color: rgb(57, 62, 64);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 6px 0px;
}

.context.context--loading-overlay::before,
.context--loading-overlay.select::before,
.context--loading-overlay.time-select::before,
.context--loading-overlay.formula-field::before {
    background-color: rgba(0, 0, 0, 0.16);
}

.context.context--loading-overlay::after,
.context--loading-overlay.select::after,
.context--loading-overlay.time-select::after,
.context--loading-overlay.formula-field::after {
    border-color: rgb(18, 108, 164) transparent;
}

.context__menu-title {
    color: rgb(163, 156, 144);
}

.context__menu {
    list-style-image: initial;
}

.context__menu a {
    color: rgb(209, 205, 198);
}

.context__menu a.disabled {
    box-shadow: none;
}

.context__menu a:hover {
    background-color: rgb(29, 31, 32);
    text-decoration-color: initial;
}

.context__menu a.context__menu-item--loading {
    background-color: transparent;
}

.context__menu a.context__menu-item--loading::before {
    border-color: rgb(18, 108, 164) transparent;
}

.context__menu-icon {
    color: rgb(175, 168, 158);
}

.context__menu-item--loading .context__menu-icon {
    color: rgb(233, 231, 228);
}

.context__form-actions {
    border-top-color: rgb(57, 62, 64);
}

.select__search {
    border-bottom-color: rgb(57, 62, 64);
}

.select__search-icon {
    color: rgb(190, 184, 175);
}

.select__search-input {
    border-color: initial;
}

.select__items {
    list-style-image: initial;
}

.select__items-loading::after {
    border-color: rgb(18, 108, 164) transparent;
}

.select__item:hover {
    background-color: rgb(29, 31, 32);
}

.select__item.select__item--loading::before {
    border-color: rgb(18, 108, 164) transparent;
}

.select__item.active {
    background-color: rgb(29, 31, 32);
}

.select__item.active:not(.select__item--loading)::after {
    color: rgb(100, 209, 151);
}

.select__item.disabled:hover {
    background-color: transparent;
}

.select__item-link {
    color: rgb(209, 205, 198);
}

.select__item-link:hover {
    text-decoration-color: initial;
}

.select__item.disabled .select__item-link {
    color: rgb(175, 168, 158);
}

.select__item-description {
    color: rgb(163, 156, 144);
}

.select__item-options {
    color: rgb(190, 184, 175);
}

.select__item-options:hover {
    color: rgb(180, 172, 162);
}

.select__footer {
    border-top-color: rgb(57, 62, 64);
}

.select__footer-button {
    color: rgb(163, 156, 144);
}

.select__footer-button:hover {
    background-color: rgb(29, 31, 32);
    text-decoration-color: initial;
}

.select__footer-button.button--loading {
    background-color: rgb(43, 47, 49);
}

.select__footer-create-link {
    color: rgb(209, 205, 198);
}

.select__footer-create-link:hover {
    text-decoration-color: initial;
}

.select__footer-create-link::after {
    color: rgb(211, 207, 201);
}

.select__footer-create-link:not(.select__footer-create-link--disabled):hover {
    text-decoration-color: initial;
    background-color: rgb(29, 31, 32);
}

.select__footer-create-icon {
    color: rgb(190, 184, 175);
}

.choose-select-field__link:hover {
    text-decoration-color: initial;
    color: rgb(209, 205, 198);
}

.dropdown {
    background-color: rgb(23, 25, 26);
}

.dropdown__selected {
    border-color: rgb(72, 80, 83);
    color: rgb(209, 205, 198);
}

.dropdown__selected:hover {
    text-decoration-color: initial;
    border-color: rgb(104, 97, 86);
}

.dropdown--error .dropdown__selected {
    border-color: rgb(145, 27, 13);
}

.dropdown--disabled .dropdown__selected {
    background-color: rgb(26, 28, 29);
    color: rgb(159, 151, 138);
}

.dropdown--disabled .dropdown__selected:hover {
    border-color: rgb(72, 80, 83);
}

.dropdown__selected-icon {
    color: rgb(163, 156, 144);
}

.dropdown__items {
    border-color: rgb(18, 108, 164);
    background-color: rgb(23, 25, 26);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 6px 0px;
}

.dropdown__items .select__item:hover {
    background-color: transparent;
}

.dropdown__items .select__item.hover {
    background-color: rgb(29, 31, 32);
}

.dropdown__items .select__item.active {
    background-color: rgb(29, 31, 32);
}

.tooltip::after {
    border-color: transparent transparent rgb(120, 111, 99);
}

.tooltip.tooltip--top::after {
    border-color: rgb(120, 111, 99) transparent transparent;
}

.tooltip__content {
    background-color: rgb(45, 48, 50);
    color: rgb(233, 231, 228);
}

.markdown code {
    background-color: rgb(29, 31, 32);
}

.markdown p {
    color: rgb(209, 205, 198);
}

.rating.editing>.rating__star {
    color: rgb(211, 207, 201);
}

.rating.editing:hover>.rating__star {
    color: inherit;
}

.rating.editing>.rating__star.rating__star--selected {
    color: inherit;
}

.rating.editing>.rating__star:hover~.rating__star {
    color: rgb(211, 207, 201);
}

.rating.editing>.rating__star:hover~.rating__star.rating__star--selected {
    color: inherit;
}

.progress-bar {
    background-color: rgb(29, 31, 32);
}

.progress-bar__inner {
    background-color: rgb(13, 105, 68);
}

.progress-bar__status-text {
    color: rgb(175, 168, 158);
}

.field-boolean__checkbox {
    border-color: rgb(57, 62, 64);
    color: rgb(100, 205, 149);
}

.field-boolean__checkbox.field-boolean__checkbox--disabled {
    background-color: rgb(26, 28, 29);
}

.field-boolean__checkbox.active .field-boolean__checkbox {
    border-color: rgb(66, 72, 75);
}

.rating-field-form__dropdown-style .select__item-name {
    color: rgb(163, 156, 144);
}

.rating-field__color {
    color: rgb(209, 205, 198);
}

.field-date-read-only-timestamp {
    color: rgb(175, 168, 158);
}

.field-link-row__items {
    list-style-image: initial;
}

.field-link-row__item {
    background-color: rgb(29, 31, 32);
}

.field-link-row__name {
    color: rgb(209, 205, 198);
}

.field-link-row__name:hover {
    text-decoration-color: initial;
}

.field-link-row__name.field-link-row__name--unnamed {
    color: rgb(163, 156, 144);
}

.field-link-row__loading {
    border-color: rgb(18, 108, 164) transparent;
}

.field-link-row__remove {
    color: rgb(209, 205, 198);
}

.field-link-row__remove:hover {
    color: rgb(159, 151, 138);
}

.field-file__list {
    list-style-image: initial;
}

.field-file__icon {
    border-color: rgb(66, 72, 75);
    color: rgb(163, 156, 144);
}

.field-file__icon:hover {
    text-decoration-color: initial;
}

.field-file__info {
    color: rgb(163, 156, 144);
}

.field-file__actions {
    color: rgb(100, 209, 151);
}

.field-file__action {
    color: rgb(175, 168, 158);
}

.field-file__action:hover {
    color: rgb(209, 205, 198);
    background-color: rgb(29, 31, 32);
}

.field-multiple-select__items {
    list-style-image: initial;
}

.field-multiple-select__item {
    color: rgb(209, 205, 198);
}

.field-multiple-select__remove {
    color: rgb(209, 205, 198);
}

.field-multiple-select__remove:hover {
    color: rgb(159, 151, 138);
}

.row-edit-array-field {
    list-style-image: initial;
}

.card {
    background-color: rgb(23, 25, 26);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px 0px;
}

.card--loading::before {
    background-image: linear-gradient(to right,
            rgba(23, 25, 26, 0) 46%,
            rgba(23, 25, 26, 0.35) 50%,
            rgba(23, 25, 26, 0) 54%);
    background-color: initial;
}

.card__cover {
    background-color: rgb(29, 31, 32);
}

.card__cover::before {
    color: rgb(190, 184, 175);
}

.card--loading .card__field-name {
    color: rgb(227, 224, 220);
    background-color: rgb(29, 31, 32);
}

.card--loading .card__field-value {
    background-color: rgb(29, 31, 32);
}

.card-boolean {
    color: rgb(100, 209, 151);
}

.card-link-row {
    background-color: rgb(29, 31, 32);
}

.card-link-row--unnamed {
    color: rgb(163, 156, 144);
}

.card-single-select-option {
    color: rgb(209, 205, 198);
}

.card-multiple-select-option {
    color: rgb(209, 205, 198);
}

.card-array .array-field__item {
    background-color: rgb(29, 31, 32);
}

.card-file__list {
    list-style-image: initial;
}

.card-file__image,
.card-file__icon {
    border-color: rgb(66, 72, 75);
}

.card-file__icon {
    color: rgb(163, 156, 144);
}

.grid-view__left {
    background-color: rgb(26, 28, 29);
}

.grid-view__divider {
    border-left-color: rgb(66, 72, 75);
}

.grid-view__divider::before {
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px 0px;
}

.grid-view__divider-width:hover::before,
.grid-view__divider-width.dragging::before {
    background-color: rgb(19, 113, 171);
}

.grid-view__head {
    background-color: rgb(26, 28, 29);
    border-bottom-color: rgb(57, 62, 64);
}

.grid-view__head-row-identifier-dropdown {
    color: rgb(163, 156, 144);
}

.grid-view__head-row-identifier-dropdown:hover {
    color: rgb(206, 201, 195);
}

.grid-view__foot {
    background-color: rgb(26, 28, 29);
    border-top-color: rgb(57, 62, 64);
}

.grid-view__placeholder {
    background-color: rgb(23, 25, 26);
    background-image: linear-gradient(0deg,
            rgb(43, 47, 49) 1.52%,
            rgb(23, 25, 26) 1.52%,
            rgb(23, 25, 26) 50%,
            rgb(43, 47, 49) 50%,
            rgb(43, 47, 49) 51.52%,
            rgb(23, 25, 26) 51.52%,
            rgb(23, 25, 26) 100%);
}

.grid-view__placeholder-column {
    border-right-color: rgb(57, 62, 64);
}

.grid-view__left .grid-view__placeholder-column {
    border-right-color: initial;
}

.grid-view__rows {
    background-color: rgb(23, 25, 26);
}

.grid-view__row.grid-view__row--warning::before {
    border-color: rgb(147, 94, 4);
}

.grid-view__row-warning {
    background-color: rgb(146, 93, 4);
    color: rgb(233, 231, 228);
}

.grid-view__column {
    border-right-color: rgb(57, 62, 64);
    border-bottom-color: rgb(57, 62, 64);
}

.grid-view__head .grid-view__column {
    border-bottom-color: initial;
    background-color: rgb(29, 31, 32);
}

.grid-view__foot .grid-view__column {
    border-right-color: initial;
    border-bottom-color: initial;
}

.grid-view__left .grid-view__column {
    border-right-color: initial;
}

.grid-view__column.grid-view__column--sorted::after {
    background-color: rgba(65, 41, 0, 0.8);
}

.grid-view__column.grid-view__column--filtered::after {
    background-color: rgba(0, 65, 37, 0.5);
}

.grid-view__row-info.grid-view__row-info--matches-search {
    background-color: rgb(29, 31, 32);
}

.grid-view__row-drag {
    background-image: linear-gradient(90deg,
            rgb(23, 25, 26) 50%,
            rgba(23, 25, 26, 0) 100%);
    background-color: initial;
}

.grid-view__row-drag::before {
    background-image: radial-gradient(rgb(43, 47, 49) 40%,
            rgba(0, 0, 0, 0) 40%);
}

.grid-view__row--loading .grid-view__row-count {
    color: rgb(233, 231, 228);
}

.grid-view__row--loading .grid-view__row-count::after {
    border-color: rgb(18, 108, 164) transparent;
}

.grid-view__row-more {
    color: rgb(175, 168, 158);
}

.grid-view__row-more:hover {
    background-color: rgb(29, 31, 32);
    color: rgb(130, 201, 245);
}

.grid-view__cell.active {
    border-color: rgb(18, 108, 164);
}

.grid-view__cell.active.editing {
    border-color: rgb(18, 115, 175);
}

.grid-view__cell.active.invalid {
    border-top-color: rgb(137, 26, 11);
    border-right-color: rgb(137, 26, 11);
    border-left-color: rgb(137, 26, 11);
    border-bottom-color: initial;
}

.grid-view__cell.cell-error {
    background-color: rgb(65, 4, 0);
    color: rgb(159, 151, 138);
}

.grid-view__row--selected .grid-view__cell.active {
    background-color: rgba(23, 25, 26, 0.7);
}

.grid-view__row--selected .grid-view__cell.cell-error {
    background-color: rgb(65, 4, 0);
}

.grid-view__column--matches-search .grid-view__cell {
    background-color: rgb(29, 31, 32);
}

.grid-view__column--matches-search .grid-view__cell.active {
    background-color: rgb(29, 31, 32);
}

.grid-view__column--multi-select .grid-view__cell {
    background-color: rgb(29, 31, 32);
}

.grid-view__column--multi-select .grid-view__cell.active {
    background-color: rgb(29, 31, 32);
}

.grid-view__column--multi-select-top .grid-view__cell {
    border-top-color: rgb(18, 108, 164);
}

.grid-view__column--multi-select-right .grid-view__cell {
    border-right-color: rgb(18, 108, 164);
}

.grid-view__column--multi-select-bottom .grid-view__cell {
    border-bottom-color: rgb(18, 108, 164);
}

.grid-view__column--multi-select-left .grid-view__cell {
    border-left-color: rgb(18, 108, 164);
}

.grid-view__cell .grid-view__cell--error {
    border-right-color: rgb(137, 26, 11);
    border-bottom-color: rgb(137, 26, 11);
    border-left-color: rgb(137, 26, 11);
    border-top-color: initial;
    background-color: rgb(65, 4, 0);
    color: rgb(208, 204, 197);
}

.grid-view__cell.active-by {
    border-color: rgb(38, 128, 81);
}

.grid-view__cell .grid-view__cell--active-by {
    background-color: rgb(41, 139, 101);
    color: rgb(233, 231, 228);
}

.grid-view__description .grid-view__description-icon,
.grid-view__description .grid-view__description-options {
    color: rgb(163, 156, 144);
}

.grid-view__description .grid-view__description-icon-error {
    color: rgb(243, 122, 106);
}

.grid-view__description .grid-view__description-options:hover {
    color: rgb(206, 201, 195);
}

.grid-view__description .grid-view__description-width:hover::before,
.grid-view__description .grid-view__description-width.dragging::before {
    background-color: rgb(19, 113, 171);
}

.grid-view__description.grid-view__description--loading::after {
    border-color: rgb(18, 108, 164) transparent;
}

.grid-view__add-column {
    color: rgb(206, 201, 195);
}

.grid-view__add-column:hover {
    background-color: rgb(29, 31, 32);
}

.grid-view__add-row {
    color: rgb(206, 201, 195);
    background-color: rgb(23, 25, 26);
}

.grid-view__add-row:hover {
    text-decoration-color: initial;
}

.grid-view__add-row.hover {
    background-color: rgb(29, 31, 32);
}

.grid-view__field-dragging {
    background-color: rgba(0, 0, 0, 0.08);
}

.grid-view__field-target {
    border-left-color: rgb(127, 118, 105);
}

.grid-view__row-dragging {
    background-color: rgba(0, 0, 0, 0.08);
}

.grid-view__row-target {
    border-top-color: rgb(127, 118, 105);
}

.grid-field-text__input,
.grid-field-date__date-input,
.grid-field-date__time-input {
    border-color: initial;
    background-image: none;
    background-color: initial;
}

.grid-field-text__input:focus,
.grid-field-date__date-input:focus,
.grid-field-date__time-input:focus {
    outline-color: initial;
}

.grid-field-long-text__textarea {
    border-color: initial;
    background-image: none;
    background-color: rgb(23, 25, 26);
}

.grid-field-long-text__textarea:focus {
    outline-color: initial;
}

.grid-view__column--matches-search .grid-field-long-text__textarea {
    background-color: rgb(29, 31, 32);
}

.grid-field-number__input {
    border-color: initial;
    background-image: none;
    background-color: initial;
}

.grid-field-number__input:focus {
    outline-color: initial;
}

.grid-field-boolean__checkbox {
    color: rgb(100, 205, 149);
}

.grid-view__cell.active .grid-field-boolean__checkbox.grid-field-boolean__checkbox--read-only {
    background-color: rgb(26, 28, 29);
}

.grid-view__cell.active .grid-field-boolean__checkbox {
    border-color: rgb(66, 72, 75);
}

.grid-field-link-row__unnamed {
    color: rgb(163, 156, 144);
}

.grid-field-file__dragging {
    border-color: rgb(18, 108, 164);
    background-color: rgb(23, 25, 26);
    color: rgb(159, 151, 138);
}

.grid-field-file__list {
    list-style-image: initial;
}

.grid-field-file__image,
.grid-field-file__icon,
.grid-field-file__loading {
    border-color: rgb(66, 72, 75);
}

.grid-field-file__cell.active .grid-field-file__image,
.grid-field-file__cell.active .grid-field-file__icon,
.grid-field-file__cell.active .grid-field-file__loading {
    border-color: rgb(81, 87, 91);
}

.grid-field-file__icon {
    color: rgb(163, 156, 144);
}

.grid-field-file__loading::before {
    border-color: rgb(18, 108, 164) transparent;
}

.grid-field-file__item-add {
    color: rgb(209, 205, 198);
    background-color: rgb(29, 31, 32);
}

.grid-view__column--matches-search .grid-field-file__item-add {
    background-color: rgb(47, 51, 53);
}

.grid-field-file__item-add:hover {
    background-color: rgb(47, 51, 53);
}

.grid-view__column--matches-search .grid-field-file__item-add:hover {
    background-color: rgb(18, 80, 118);
}

.grid-field-file__drop {
    color: rgb(159, 151, 138);
}

.grid-field-single-select__option {
    color: rgb(209, 205, 198);
}

.grid-field-single-select__icon {
    color: rgb(209, 205, 198);
}

.grid-field-multiple-select__item {
    color: rgb(209, 205, 198);
}

.grid-view__column--matches-search .grid-field-many-to-many__cell.active .grid-field-multiple-select__item {
    background-color: rgb(47, 51, 53);
}

.grid-field-many-to-many__list {
    list-style-image: initial;
}

.grid-field-many-to-many__item {
    background-color: rgb(29, 31, 32);
    color: rgb(209, 205, 198);
}

.grid-field-many-to-many__item:hover {
    text-decoration-color: initial;
}

.grid-field-many-to-many__cell.active .grid-field-many-to-many__item {
    background-color: rgb(29, 31, 32);
}

.grid-view__column--matches-search .grid-field-many-to-many__cell.active .grid-field-many-to-many__item {
    background-color: rgb(47, 51, 53);
}

.grid-field-many-to-many__item.grid-field-many-to-many__item--link {
    color: rgb(209, 205, 198);
}

.grid-field-many-to-many__item.grid-field-many-to-many__item--link:hover {
    background-color: rgb(47, 51, 53);
}

.grid-view__column--matches-search .grid-field-many-to-many__item.grid-field-many-to-many__item--link:hover {
    background-color: rgb(18, 80, 118);
}

.grid-field-many-to-many__loading {
    border-color: rgb(18, 108, 164) transparent;
}

.grid-field-many-to-many__remove {
    color: rgb(209, 205, 198);
}

.grid-field-many-to-many__remove:hover {
    color: rgb(159, 151, 138);
}

.grid-view-array-field {
    list-style-image: initial;
}

.grid-view__column--matches-search .grid-view-array-field {
    background-color: rgb(29, 31, 32);
}

.grid-view__column--matches-search .grid-view-array-field.active {
    background-color: rgb(29, 31, 32);
}

.grid-view-aggregation:not(.read-only):hover {
    background-color: rgb(36, 39, 40);
}

.grid-view-aggregation__generic__name {
    color: rgb(159, 151, 138);
}

.grid-view-aggregation__generic__value--loading {
    color: rgb(211, 207, 201);
}

.grid-view-aggregation__generic__value--loading::after {
    border-color: rgb(18, 108, 164) transparent;
}

.gallery-view__add {
    border-color: rgb(72, 80, 83);
    background-image: initial;
    background-color: rgb(23, 25, 26);
    color: rgb(209, 205, 198);
    box-shadow: rgba(0, 0, 0, 0.16) 3px 0px 6px 0px;
}

.gallery-view__add:hover {
    background-color: rgb(29, 31, 32);
    text-decoration-color: initial;
}

.gallery-view__card:not(.card--loading):not(.gallery-view__card--disabled):not(.gallery-view__card--dragging):hover {
    box-shadow: rgba(0, 0, 0, 0.32) 0px 1px 3px 0px;
}

.view-sharing__create-link {
    color: rgb(209, 205, 198);
}

.view-sharing__create-link:hover {
    text-decoration-color: initial;
    background-color: rgb(29, 31, 32);
}

.view-sharing__create-link.view-sharing__create-link--disabled {
    color: rgb(159, 151, 138);
    background-color: transparent;
}

.view-sharing__create-link-icon {
    color: rgb(251, 193, 93);
}

.view-sharing__create-link--disabled .view-sharing__create-link-icon {
    color: rgb(159, 151, 138);
}

.view-sharing__shared-link-box {
    background-color: rgb(29, 31, 32);
}

.view-sharing__shared-link-action {
    color: rgb(209, 205, 198);
}

.view-sharing__shared-link-action:not(.view-sharing__shared-link-action--loading):hover {
    background-color: rgb(29, 31, 32);
}

.view-sharing__shared-link-action.view-sharing__shared-link-action--loading {
    color: rgb(233, 231, 228);
}

.view-sharing__shared-link-action.view-sharing__shared-link-action--loading::before {
    border-color: rgb(18, 108, 164) transparent;
}

.view-sharing__shared-link-action.view-sharing__shared-link-action--disabled {
    color: rgb(209, 205, 198);
    background-color: transparent;
}

.view-sharing__shared-link-disable {
    color: rgb(240, 104, 87);
}

.view-sharing__option-change-password:hover {
    text-decoration-color: initial;
    color: rgb(209, 205, 198);
}

.public-view__table {
    background-color: rgb(23, 25, 26);
}

.decorator-list__item:hover {
    background-color: rgb(29, 31, 32);
}

.decorator-item__description {
    color: rgb(163, 156, 144);
}

.decorator-context__decorator {
    border-bottom-color: rgb(57, 62, 64);
}

.decorator-context__decorator:last-child {
    border-color: initial;
}

.decorator-context__decorator-header-trash-link {
    color: rgb(209, 205, 198);
}

.decorator-context__decorator-header-trash-link:hover {
    text-decoration-color: initial;
    background-color: rgb(29, 31, 32);
}

.decorator-context__footer {
    border-top-color: rgb(57, 62, 64);
    box-shadow: rgba(0, 0, 0, 0.05) 0px -3px 3px 0px;
}

.decorator-context__add:hover {
    text-decoration-color: initial;
    color: rgb(209, 205, 198);
}

.value-provider-list__item:hover {
    background-color: rgb(29, 31, 32);
}

.value-provider-list__item--selected {
    background-color: rgb(29, 31, 32);
}

.value-provider-list__item--selected:hover {
    background-color: rgb(29, 31, 32);
}

.value-provider-list__item--selected::after {
    color: rgb(100, 209, 151);
}

.value-provider-list--read-only .value-provider-list__item:hover {
    background-color: transparent;
}

.value-provider-item__description {
    color: rgb(163, 156, 144);
}

.array-field__item {
    background-color: rgb(29, 31, 32);
}

.array-field__date {
    background-color: rgb(29, 31, 32);
}

.array-field__single-select-option {
    color: rgb(209, 205, 198);
}

.array-field__checkbox {
    color: rgb(100, 205, 149);
}

.array-field__checkbox--false {
    color: rgb(210, 95, 81);
}

.form-view__sidebar-fields-actions {
    list-style-image: initial;
}

.form-view__sidebar-fields-description {
    color: rgb(209, 205, 198);
}

.form-view__sidebar-fields-item {
    border-color: rgb(66, 72, 75);
    background-color: rgb(23, 25, 26);
}

.form-view__sidebar-fields-item::after {
    color: rgb(209, 205, 198);
}

.form-view__sidebar-fields-item:hover {
    text-decoration-color: initial;
}

.form-view__sidebar-fields-item.form-view__sidebar-fields-item--incompatible {
    background-color: rgb(26, 28, 29);
}

.form-view__sidebar-fields-icon {
    color: rgb(180, 172, 162);
}

.form-view__sidebar-fields-name {
    color: rgb(209, 205, 198);
}

.form-view__page {
    background-color: rgb(23, 25, 26);
}

.form-view__file {
    background-color: rgb(29, 31, 32);
    border-color: rgb(66, 72, 75);
    color: rgb(163, 156, 144);
}

.form-view__file:hover {
    text-decoration-color: initial;
    background-color: rgb(31, 34, 36);
}

.form-view__file.form-view__file--dragging,
.form-view__file.form-view__file--uploading {
    color: rgb(224, 221, 216);
    background-color: rgb(31, 34, 36);
}

.form-view__file.form-view__file--error {
    color: rgb(224, 221, 216);
    border-color: rgb(145, 27, 13);
}

.form-view__file-progress {
    background-color: rgb(19, 113, 171);
}

.form-view__file-dragging,
.form-view__file-uploading,
.form-view__file-error {
    color: rgb(209, 205, 198);
}

.form-view__file-error {
    color: rgb(240, 104, 87);
}

.form_view__file-delete {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(240, 104, 87);
}

.form_view__file-delete:hover {
    text-decoration-color: initial;
}

.form-view__edit {
    color: rgb(159, 151, 138);
}

.form-view__edit:hover {
    color: rgb(209, 205, 198);
}

.form-view__cover {
    background-color: rgb(43, 47, 49);
}

.form-view__no-fields {
    border-color: rgb(57, 62, 64);
    color: rgb(163, 156, 144);
}

.form-view__field.form-view__field--editable {
    border-color: transparent;
}

.form-view__field.form-view__field--editable.form-view__field--selected {
    border-color: rgb(57, 62, 64);
}

.form-view__field.form-view__field--editable:not(.form-view__field--selected):hover {
    background-color: rgb(29, 31, 32);
}

.form-view__field-head {
    background-color: rgb(29, 31, 32);
}

.form-view__field-head-handle {
    background-image: radial-gradient(rgb(43, 47, 49) 40%,
            rgba(0, 0, 0, 0) 40%);
}

.form-view__field-head-handle:hover {
    background-image: radial-gradient(rgb(89, 97, 100) 40%,
            rgba(0, 0, 0, 0) 40%);
}

.form-view__field-head-icon {
    color: rgb(163, 156, 144);
}

.form-view__field-head-name {
    color: rgb(209, 205, 198);
}

.form-view__field-head-options {
    color: rgb(163, 156, 144);
}

.form-view__field-head-options:hover {
    color: rgb(209, 205, 198);
}

.form-view__field-head-hide {
    color: rgb(163, 156, 144);
}

.form-view__field-head-hide:hover {
    color: rgb(209, 205, 198);
}

.form-view__field-description {
    color: rgb(159, 151, 138);
}

.form-view__add-condition {
    color: rgb(180, 172, 162);
}

.form-view__submit-button-editing:hover,
.form-view__submit-button-editing:focus {
    box-shadow: none;
}

.form-view__meta {
    border-top-color: rgb(57, 62, 64);
}

.box-page__header {
    background-image: initial;
    background-color: rgb(15, 97, 147);
}

.box-page__header::after {
    background-image: inherit;
    background-color: inherit;
}

.loading {
    border-color: rgb(18, 108, 164) transparent;
}

.loading-overlay {
    background-color: rgba(0, 0, 0, 0.1);
}

.loading-overlay::after {
    border-color: rgb(18, 108, 164) transparent;
}

.loading-absolute-center {
    border-color: rgb(18, 108, 164) transparent;
}

.dashboard__help-description {
    color: rgb(209, 205, 198);
}

.dashboard__sidebar-group {
    list-style-image: initial;
}

.dashboard__sidebar-title {
    color: rgb(175, 168, 158);
}

.dashboard__sidebar-link {
    color: rgb(209, 205, 198);
}

.dashboard__sidebar-link:hover {
    text-decoration-color: initial;
    color: rgb(180, 172, 162);
}

.dashboard__sidebar-link.dashboard__sidebar-link--light {
    color: rgb(159, 151, 138);
}

.dashboard__sidebar-link.dashboard__sidebar-link--light:hover {
    color: rgb(180, 172, 162);
}

.dashboard__group-title {
    color: rgb(209, 205, 198);
}

.dashboard__group-title:hover {
    text-decoration-color: initial;
}

.dashboard__group-title.dashboard__group-title--loading::after {
    border-color: rgb(18, 108, 164) transparent;
}

.dashboard__group-title-options {
    color: rgb(209, 205, 198);
}

.dashboard__group-items {
    list-style-image: initial;
}

.dashboard__group-item-link:hover {
    text-decoration-color: initial;
}

.dashboard__group-item-link:hover::before {
    background-color: rgb(29, 31, 32);
}

.dashboard__group-item-icon {
    background-color: rgb(19, 113, 171);
    color: rgb(233, 231, 228);
}

.dashboard__group-item-icon.dashboard__group-item-icon--add {
    background-color: rgb(41, 139, 101);
}

.dashboard__group-item-name {
    color: rgb(209, 205, 198);
}

.dashboard__create-link {
    color: rgb(159, 151, 138);
}

.dashboard__create-link:hover {
    text-decoration-color: initial;
    color: rgb(206, 201, 195);
}

.placeholder__icon {
    color: rgb(209, 205, 198);
}

.vdp-datepicker.datepicker .vdp-datepicker__calendar {
    border-color: rgb(57, 62, 64);
}

.vdp-datepicker.datepicker .vdp-datepicker__calendar .prev::before,
.vdp-datepicker.datepicker .vdp-datepicker__calendar .next::before {
    color: rgb(59, 165, 233);
}

.vdp-datepicker.datepicker .vdp-datepicker__calendar .prev:not(.disabled):hover,
.vdp-datepicker.datepicker .vdp-datepicker__calendar .next:not(.disabled):hover,
.vdp-datepicker.datepicker .vdp-datepicker__calendar .up:not(.disabled):hover {
    background-color: rgb(29, 31, 32);
}

.vdp-datepicker.datepicker .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
.vdp-datepicker.datepicker .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
.vdp-datepicker.datepicker .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
    border-color: transparent;
    background-color: rgb(29, 31, 32);
}

.vdp-datepicker.datepicker .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day.selected,
.vdp-datepicker.datepicker .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month.selected,
.vdp-datepicker.datepicker .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year.selected {
    border-color: transparent;
    background-color: rgb(19, 113, 171);
    color: rgb(233, 231, 228);
}

.vdp-datepicker.datepicker .vdp-datepicker__calendar .day-header {
    color: rgb(159, 151, 138);
}

.context-datepicker .vdp-datepicker.datepicker .vdp-datepicker__calendar {
    border-color: initial;
}

.time-select ul {
    list-style-image: initial;
}

.time-select a {
    color: rgb(209, 205, 198);
}

.time-select a:hover {
    background-color: rgb(29, 31, 32);
    text-decoration-color: initial;
}

.time-select a.active {
    background-color: rgb(19, 113, 171);
    color: rgb(233, 231, 228);
}

.modal-sidebar__head-initials-icon {
    background-color: rgb(19, 113, 171);
    color: rgb(233, 231, 228);
}

.modal-sidebar__nav {
    list-style-image: initial;
}

.modal-sidebar__nav-link {
    border-left-color: transparent;
    color: rgb(209, 205, 198);
}

.modal-sidebar__nav-link:hover {
    text-decoration-color: initial;
    background-color: rgb(31, 34, 36);
}

.modal-sidebar__nav-link.active {
    background-color: rgb(31, 34, 36);
    border-left-color: rgb(18, 108, 164);
}

.row-modal__field-list {
    list-style-image: initial;
}

.row-modal__field-item-handle {
    background-image: radial-gradient(rgb(43, 47, 49) 40%,
            rgba(0, 0, 0, 0) 40%);
}

.row-modal__field-item-handle:hover {
    background-image: radial-gradient(rgb(89, 97, 100) 40%,
            rgba(0, 0, 0, 0) 40%);
}

.row-modal__hidden-separator-line {
    border-bottom-color: rgb(57, 62, 64);
}

.row-modal__hidden-separator-link {
    color: rgb(209, 205, 198);
    border-color: rgb(57, 62, 64);
}

.row-modal__hidden-separator-link:hover {
    text-decoration-color: initial;
    background-color: rgb(29, 31, 32);
}

.row-modal__hidden-separator-link--disabled:hover {
    background-color: transparent;
}

.select-row-modal__initial-loading::after {
    border-color: rgb(18, 108, 164) transparent;
}

.select-row-modal__loading::before {
    background-color: rgba(0, 0, 0, 0.2);
}

.select-row-modal__loading::after {
    border-color: rgb(18, 108, 164) transparent;
}

.select-row-modal__search {
    border-bottom-color: rgb(57, 62, 64);
}

.select-row-modal__search-icon {
    color: rgb(190, 184, 175);
}

.select-row-modal__search-input {
    border-color: initial;
}

.select-row-modal__rows {
    background-color: rgb(29, 31, 32);
}

.select-row-modal__left {
    border-right-color: rgb(66, 72, 75);
}

.select-row-modal__field {
    background-color: rgb(29, 31, 32);
    border-bottom-color: rgb(57, 62, 64);
}

.select-row-modal__right .select-row-modal__field {
    border-right-color: rgb(57, 62, 64);
}

.select-row-modal__field.select-row-modal__field--first {
    border-right-color: initial;
}

.select-row-modal__cell {
    background-color: rgb(23, 25, 26);
    border-bottom-color: rgb(57, 62, 64);
}

.select-row-modal__right .select-row-modal__cell {
    border-right-color: rgb(57, 62, 64);
}

.select-row-modal__row--hover .select-row-modal__cell,
.select-row-modal__row--hover .grid-view__cell {
    background-color: rgb(29, 31, 32);
}

.select-row-modal__row--selected .select-row-modal__cell,
.select-row-modal__row--selected .grid-view__cell {
    background-color: rgb(26, 28, 29);
}

.select-row-modal__foot {
    background-color: rgb(26, 28, 29);
    border-top-color: rgb(57, 62, 64);
}

.filters__item.filters__item--loading::before {
    border-color: rgb(18, 108, 164) transparent;
}

.filters__remove {
    color: rgb(209, 205, 198);
}

.filters__remove:hover {
    text-decoration-color: initial;
    color: rgb(159, 151, 138);
}

.filters__value-timezone {
    color: rgb(175, 168, 158);
}

.filters__value-rating {
    border-color: rgb(72, 80, 83);
}

.filters__value-link-row {
    color: rgb(209, 205, 198);
    border-color: rgb(72, 80, 83);
    background-color: rgb(23, 25, 26);
}

.filters__value-link-row:hover {
    text-decoration-color: initial;
    border-color: rgb(112, 104, 92);
}

.filters__value-link-row.filters__value-link-row--disabled {
    color: rgb(209, 205, 198);
    background-color: rgb(26, 28, 29);
}

.filters__value-link-row.filters__value-link-row--disabled:hover {
    border-color: rgb(72, 80, 83);
}

.filters__value-link-row.filters__value-link-row--loading::before {
    border-color: rgb(18, 108, 164) transparent;
}

.filters__add:hover {
    text-decoration-color: initial;
    color: rgb(209, 205, 198);
}

.sortings__item.sortings__item--loading::before {
    border-color: rgb(18, 108, 164) transparent;
}

.sortings__remove {
    color: rgb(209, 205, 198);
}

.sortings__remove:hover {
    text-decoration-color: initial;
    color: rgb(159, 151, 138);
}

.sortings__order-item {
    color: rgb(206, 201, 195);
}

.sortings__order-item:hover {
    background-color: rgb(29, 31, 32);
    text-decoration-color: initial;
}

.sortings__order--disabled .sortings__order-item:hover {
    background-color: transparent;
}

.sortings__order-item.active {
    background-color: rgb(29, 31, 32);
}

.sortings__order--disabled .sortings__order-item.active {
    background-color: rgb(29, 31, 32);
}

.sortings__add:hover {
    text-decoration-color: initial;
    color: rgb(209, 205, 198);
}

.sortings__add-context .context__menu-icon {
    color: rgb(209, 205, 198);
}

.hidings__search {
    border-bottom-color: rgb(57, 62, 64);
}

.hidings__search-icon {
    color: rgb(190, 184, 175);
}

.hidings__search-input {
    border-color: initial;
}

.hidings__list {
    list-style-image: initial;
}

.hidings__item-handle {
    background-image: radial-gradient(rgb(43, 47, 49) 40%,
            rgba(0, 0, 0, 0) 40%);
}

.hidings__item-handle:hover {
    background-image: radial-gradient(rgb(89, 97, 100) 40%,
            rgba(0, 0, 0, 0) 40%);
}

.choice-items {
    list-style-image: initial;
}

.choice-items__link {
    color: rgb(163, 156, 144);
}

.choice-items__link:hover {
    text-decoration-color: initial;
}

.choice-items__link:not(.disabled):not(.active):hover {
    background-color: rgb(29, 31, 32);
    color: rgb(209, 205, 198);
}

.choice-items__link.disabled {
    color: rgb(175, 168, 158);
}

.choice-items__link.active {
    color: rgb(209, 205, 198);
    background-color: rgb(29, 31, 32);
}

.choice-items__link.active::after {
    color: rgb(100, 209, 151);
}

.table-preview__container {
    border-color: rgb(66, 72, 75);
}

.table-preview {
    background-color: rgb(23, 25, 26);
}

.table-preview__column {
    border-right-color: rgb(57, 62, 64);
}

.table-preview__head .table-preview__column {
    background-color: rgb(29, 31, 32);
}

.table-preview__row:not(:last-child) .table-preview__column {
    border-bottom-color: rgb(57, 62, 64);
}

.api-token {
    border-color: rgb(57, 62, 64);
}

.api-token__key-value {
    background-color: rgb(29, 31, 32);
}

.api-token__key-visible,
.api-token__key-copy {
    color: rgb(209, 205, 198);
}

.api-token__key-visible:hover,
.api-token__key-copy:hover {
    text-decoration-color: initial;
    background-color: rgb(29, 31, 32);
}

.api-token__head {
    background-color: rgb(29, 31, 32);
}

.api-token__more {
    color: rgb(209, 205, 198);
}

.api-token__more:hover {
    text-decoration-color: initial;
    background-color: rgb(43, 47, 49);
}

.api-token__group {
    color: rgb(163, 156, 144);
}

.api-token__body {
    border-top-color: rgb(57, 62, 64);
}

.api-token__row:hover {
    background-color: rgb(26, 28, 29);
}

.api-docs__code {
    background-color: rgb(29, 31, 32);
}

.api-docs__code.api-docs__code--clickable:hover {
    background-color: rgb(43, 47, 49);
}

.api-docs__nav-list {
    list-style-image: initial;
}

.api-docs__nav-link {
    color: rgb(209, 205, 198);
}

.api-docs__nav-link:hover {
    text-decoration-color: initial;
    color: rgb(101, 188, 241);
}

.api-docs__nav-link.active {
    color: rgb(59, 165, 233);
}

.api-docs__nav-sub {
    list-style-image: initial;
}

.api-docs__table th,
.api-docs__table td {
    border-bottom-color: rgb(57, 62, 64);
}

.api-docs__table .api-docs__table-without-border th,
.api-docs__table .api-docs__table-without-border td {
    border-bottom-color: initial;
}

.api-docs__parameters {
    list-style-image: initial;
}

.api-docs__parameter::before {
    border-bottom-color: rgb(57, 62, 64);
}

.api-docs__parameter:not(:last-child)::after {
    border-right-color: rgb(57, 62, 64);
}

.api-docs__parameter-visible-name {
    color: rgb(180, 172, 162);
}

.api-docs__parameter-optional {
    background-color: rgb(41, 139, 101);
    color: rgb(233, 231, 228);
}

.api-docs__parameter-description {
    border-bottom-color: rgb(57, 62, 64);
}

.api-docs__example-title {
    color: rgb(233, 231, 228);
}

@media screen and (max-width: 1100px) {
    .api-docs__example-title {
        color: rgb(209, 205, 198);
    }
}

.api-docs__example {
    background-color: rgb(29, 31, 32);
}

.api-docs__copy {
    color: rgb(159, 151, 138);
}

.api-docs__example-request-type {
    background-color: rgb(89, 97, 100);
    color: rgb(233, 231, 228);
}

.api-docs__example-request-type.api-docs__example-request-type--success {
    background-color: rgb(41, 139, 101);
}

.api-docs__example-request-type.api-docs__example-request-type--error {
    background-color: rgb(150, 29, 14);
}

.api-docs__example-request-type.api-docs__example-request-type--primary {
    background-color: rgb(19, 113, 171);
}

.api-docs__example-request-type.api-docs__example-request-type--warning {
    background-color: rgb(146, 93, 4);
}

.api-docs__example-content-side {
    background-color: rgb(43, 47, 49);
}

.api-docs__example-content-line {
    color: rgb(180, 172, 162);
}

.api-docs__example-content {
    color: rgb(180, 172, 162);
}

.api-docs {
    background-color: rgb(23, 25, 26);
}

.api-docs::after {
    background-color: rgb(82, 89, 92);
}

.api-docs__header {
    background-color: rgb(23, 25, 26);
    border-bottom-color: rgb(57, 62, 64);
}

.api-docs__switch {
    color: rgb(209, 205, 198);
}

.api-docs__switch:hover {
    text-decoration-color: initial;
    background-color: rgb(29, 31, 32);
}

.api-docs__switch-icon {
    color: rgb(59, 165, 233);
}

.api-docs__databases {
    background-color: rgb(23, 25, 26);
    box-shadow: rgba(0, 0, 0, 0.16) 1px 0px 4px 0px;
}

.api-docs__nav {
    background-color: rgb(29, 31, 32);
    border-right-color: rgb(57, 62, 64);
}

.api-docs__content {
    color: rgb(209, 205, 198);
}

.delete-section {
    border-color: rgb(57, 62, 64);
}

.delete-section__label {
    border-color: rgb(125, 22, 9);
    background-color: rgb(65, 4, 0);
    color: rgb(208, 204, 197);
}

.delete-section__label-icon {
    background-color: rgb(23, 25, 26);
    border-color: rgb(137, 26, 11);
    color: rgb(208, 204, 197);
}

.delete-section__list {
    list-style-image: initial;
}

.delete-section__list small {
    color: rgb(159, 151, 138);
}

.delete-section__list-icon {
    color: rgb(190, 184, 175);
}

.copied {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(233, 231, 228);
}

.select-application__group {
    color: rgb(159, 151, 138);
}

.select-application__list {
    list-style-image: initial;
}

.select-application__link:hover {
    text-decoration-color: initial;
}

.select-application__link:hover::before {
    background-color: rgb(29, 31, 32);
}

.select-application__link.active::before {
    background-color: rgb(29, 31, 32);
}

.select-application__icon {
    background-color: rgb(19, 113, 171);
    color: rgb(233, 231, 228);
}

.select-application__name {
    color: rgb(209, 205, 198);
}

.upload-files__dropzone {
    border-color: rgb(66, 72, 75);
    color: rgb(159, 151, 138);
}

.upload-files__dropzone:hover,
.upload-files__dropzone.upload-files__dropzone--dragging {
    color: rgb(59, 165, 233);
    border-color: rgb(18, 108, 164);
}

.upload-files__list {
    list-style-image: initial;
}

.upload-files__icon {
    border-color: rgb(66, 72, 75);
    color: rgb(163, 156, 144);
}

.upload-files__percentage {
    color: rgb(175, 168, 158);
}

.upload-files__progress {
    background-color: rgb(29, 31, 32);
}

.upload-files__progress-bar {
    background-color: rgb(19, 113, 171);
}

.upload-files__progress-bar.upload-files__progress-bar--finished {
    background-color: rgb(41, 139, 101);
}

.upload-files__error {
    color: rgb(240, 104, 87);
}

.upload-files__state {
    color: rgb(100, 209, 151);
}

.upload-files__state-waiting {
    color: rgb(100, 209, 151);
}

.upload-files__state-failed {
    color: rgb(240, 104, 87);
}

.upload-files__state-link {
    color: rgb(175, 168, 158);
}

.upload-files__state-link:hover {
    color: rgb(206, 201, 195);
}

.file-field-modal__wrapper {
    background-color: rgba(0, 0, 0, 0.78);
}

.file-field-modal__name {
    color: rgb(233, 231, 228);
}

.file-field-modal__rename {
    color: rgb(233, 231, 228);
}

.file-field-modal__close {
    color: rgb(233, 231, 228);
}

.file-field-modal__close:hover {
    background-color: rgb(63, 68, 71);
}

.file-field-modal__body-nav {
    color: rgb(159, 151, 138);
}

.file-field-modal__body-nav:hover {
    color: rgb(233, 231, 228);
    text-decoration-color: initial;
}

.file-field-modal__preview-icon {
    color: rgb(233, 231, 228);
}

.file-field-modal__nav {
    list-style-image: initial;
}

.file-field-modal__nav-link {
    border-color: transparent;
}

.file-field-modal__nav-link.active {
    border-color: rgb(47, 51, 53);
}

.file-field-modal__nav-icon {
    background-color: rgb(82, 89, 92);
    color: rgb(233, 231, 228);
}

.file-field-modal__actions {
    list-style-image: initial;
}

.file-field-modal__action {
    color: rgb(233, 231, 228);
}

.file-field-modal__action:hover {
    background-color: rgb(63, 68, 71);
}

.file-field-modal__action.file-field-modal__action--loading::after {
    border-color: rgb(18, 108, 164) transparent;
}

.select-options__color {
    color: rgb(209, 205, 198);
}

.select-options__remove {
    color: rgb(163, 156, 144);
}

.select-options__remove:hover {
    color: rgb(175, 168, 158);
}

.select-options__drag-handle {
    background-image: radial-gradient(rgb(43, 47, 49) 40%,
            rgba(0, 0, 0, 0) 40%);
}

.select-options-listing__value {
    color: rgb(209, 205, 198);
}

.select-options__dropdown-item.hover {
    background-color: rgb(29, 31, 32);
}

.select-options__dropdown-link:hover {
    text-decoration-color: initial;
}

.select-options__dropdown-option {
    color: rgb(209, 205, 198);
}

.color-select-context__color:not(.active):hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 2px;
}

.color-select-context__color.active::before {
    color: rgb(209, 205, 198);
}

.group-member {
    background-color: rgb(23, 25, 26);
    box-shadow: rgb(23, 25, 26) 0px 0px 0px 6px;
}

.group-member.group-member--highlight {
    background-color: rgb(0, 65, 37);
    box-shadow: rgb(0, 65, 37) 0px 0px 0px 6px;
}

.group-member__initials {
    background-color: rgb(19, 113, 171);
    color: rgb(233, 231, 228);
}

.group-member__name {
    color: rgb(209, 205, 198);
}

.group-member__name--to-be-deleted {
    text-decoration-color: initial;
}

.group-member__description {
    color: rgb(163, 156, 144);
}

.group-member__action {
    color: rgb(175, 168, 158);
}

.group-member__action:hover {
    color: rgb(209, 205, 198);
    background-color: rgb(29, 31, 32);
}

.group-member__action.group-member__action--loading {
    color: rgb(227, 224, 220);
    background-color: rgb(29, 31, 32);
}

.group-member__action.group-member__action--loading::after {
    border-color: rgb(18, 108, 164) transparent;
}

.dropdown-member__delete-link {
    color: rgb(159, 151, 138);
}

.separator {
    border-bottom-color: rgb(57, 62, 64);
}

.quote {
    border-left-color: rgb(57, 62, 64);
}

.admin-settings__group:not(:last-child) {
    border-bottom-color: rgb(57, 62, 64);
}

.admin-settings__description {
    color: rgb(163, 156, 144);
}

.templates__header {
    border-bottom-color: rgb(57, 62, 64);
}

.templates__icon {
    color: rgb(209, 205, 198);
    border-color: rgb(18, 108, 164);
}

.templates__header-title small {
    color: rgb(159, 151, 138);
}

.templates__sidebar {
    background-color: rgb(29, 31, 32);
    border-left-color: rgb(57, 62, 64);
}

.templates__categories {
    list-style-image: initial;
}

.templates__category-link {
    color: rgb(209, 205, 198);
}

.templates__category-link:hover {
    text-decoration-color: initial;
    color: rgb(180, 172, 162);
}

.templates__category-link::before {
    color: rgb(159, 151, 138);
}

.templates__category--open .templates__category-link::before {
    color: rgb(209, 205, 198);
}

.templates__templates {
    list-style-image: initial;
}

.templates__template-link {
    color: rgb(209, 205, 198);
}

.templates__template-link:hover {
    background-color: rgb(43, 47, 49);
    text-decoration-color: initial;
}

.templates__template--active .templates__template-link {
    background-color: rgb(43, 47, 49);
    border-right-color: rgb(18, 108, 164);
}

.templates__body {
    background-color: rgb(29, 31, 32);
}

.paginator__group {
    border-color: rgb(72, 80, 83);
    background-color: rgb(23, 25, 26);
}

.paginator__group> :not(:last-child) {
    border-right-color: rgb(72, 80, 83);
}

.paginator__button {
    color: rgb(209, 205, 198);
}

.paginator__button:hover {
    background-color: rgb(29, 31, 32);
}

.paginator__button.paginator__button--disabled {
    background-color: rgb(29, 31, 32);
}

.paginator__page-input {
    border-color: initial;
}

.paginator__count {
    color: rgb(159, 151, 138);
    border-right-color: rgb(72, 80, 83);
}

.sortable-position-indicator {
    background-color: rgb(89, 97, 100);
}

.modal-progress__loading-bar {
    background-color: rgb(29, 31, 32);
}

.modal-progress__loading-bar-inner {
    background-color: rgb(13, 105, 68);
}

.modal-progress__status-text {
    color: rgb(175, 168, 158);
}

.trash-sidebar__groups {
    list-style-image: initial;
}

.trash-sidebar__group-link {
    color: rgb(209, 205, 198);
    border-left-color: transparent;
}

.trash-sidebar__group-link:hover {
    text-decoration-color: initial;
    background-color: rgb(43, 47, 49);
}

.trash-sidebar__group--active .trash-sidebar__group-link {
    background-color: rgb(43, 47, 49);
    border-left-color: rgb(18, 108, 164);
}

.trash-sidebar__group-link::before {
    color: rgb(209, 205, 198);
}

.trash-sidebar__applications {
    list-style-image: initial;
}

.trash-sidebar__application-link {
    color: rgb(209, 205, 198);
    border-left-color: transparent;
}

.trash-sidebar__application-link:hover {
    background-color: rgb(43, 47, 49);
    text-decoration-color: initial;
}

.trash-sidebar__application--active .trash-sidebar__application-link {
    background-color: rgb(43, 47, 49);
    border-left-color: rgb(18, 108, 164);
}

.trash__title {
    border-bottom-color: rgb(57, 62, 64);
    background-color: rgb(23, 25, 26);
}

.trash__title-description {
    color: rgb(159, 151, 138);
}

.trash__empty-icon {
    color: rgb(59, 165, 233);
}

.trash__empty-text {
    color: rgb(159, 151, 138);
}

.trash__end-line {
    border-bottom-color: rgb(57, 62, 64);
}

.trash-entry {
    background-color: rgb(23, 25, 26);
}

.trash-entry__initials {
    background-color: rgb(19, 113, 171);
    color: rgb(233, 231, 228);
}

.trash-entry__name {
    color: rgb(209, 205, 198);
}

.trash-entry__deleted-at-display {
    color: rgb(159, 151, 138);
}

.trash-entry__items {
    list-style-image: initial;
}

.trash-entry__items li {
    background-color: rgb(29, 31, 32);
}

.trash-entry__action.trash-entry__action--loading::after {
    border-color: rgb(18, 108, 164) transparent;
}

.infinite-scroll__end-line {
    border-bottom-color: rgb(57, 62, 64);
}

.formula-field {
    border-color: rgb(66, 72, 75);
}

.formula-field__input {
    background-color: rgb(29, 31, 32);
    border-bottom-color: rgb(57, 62, 64);
}

.formula-field__input-formula {
    color: rgb(206, 201, 195);
    background-color: transparent;
    outline-color: initial;
    box-shadow: none;
    border-color: initial;
}

.formula-field__input-error {
    border-bottom-color: rgb(57, 62, 64);
    background-color: rgb(65, 4, 0);
    color: rgb(240, 104, 87);
}

.formula-field__items {
    border-right-color: rgb(57, 62, 64);
}

.formula-field__item-group {
    list-style-image: initial;
}

.formula-field__item-group:not(:last-child) {
    border-bottom-color: rgb(57, 62, 64);
}

.formula-field__item-group-title {
    color: rgb(163, 156, 144);
}

.formula-field__item-link {
    color: rgb(209, 205, 198);
}

.formula-field__item-link:hover {
    text-decoration-color: initial;
    background-color: rgb(29, 31, 32);
}

.formula-field__item-icon {
    color: rgb(163, 156, 144);
}

.formula-field__description-example {
    background-color: rgb(29, 31, 32);
}

.lang-picker__link {
    color: rgb(209, 205, 198);
}

.lang-picker__link:hover {
    text-decoration-color: initial;
}

.lang-picker__icon {
    color: rgb(163, 156, 144);
}

.webhook {
    border-color: rgb(57, 62, 64);
}

.webhook__head {
    background-color: rgb(29, 31, 32);
}

.webhook__head-details-target {
    color: rgb(163, 156, 144);
}

.webhook__head-call {
    color: rgb(175, 168, 158);
}

.webhook__head-call-state.webhook__head-call-state--ok {
    color: rgb(100, 209, 151);
}

.webhook__head-call-state.webhook__head-call-state--error {
    color: rgb(240, 104, 87);
}

.webhook__code-container {
    background-color: rgb(29, 31, 32);
}

.webhook__code {
    color: rgb(209, 205, 198);
}

.webhook__call-info {
    color: rgb(180, 172, 162);
}

.webhook__call-toggle {
    color: rgb(163, 156, 144);
}

.webhook__call-toggle:hover {
    color: rgb(209, 205, 198);
    text-decoration-color: initial;
}

.webhook__call-state.webhook__head-call-state--ok {
    color: rgb(100, 209, 151);
}

.webhook__call-state.webhook__head-call-state--error {
    color: rgb(240, 104, 87);
}

.webhook__test-state.webhook__test-state--ok {
    color: rgb(100, 209, 151);
}

.webhook__test-state.webhook__test-state--error {
    color: rgb(240, 104, 87);
}

.tabs {
    list-style-image: initial;
}

.tabs__link {
    color: rgb(209, 205, 198);
}

.tabs__link:hover {
    text-decoration-color: initial;
    background-color: rgb(29, 31, 32);
}

.tabs__item--active .tabs__link {
    background-color: rgb(29, 31, 32);
}

.preview__select-warning {
    color: rgb(233, 231, 228);
}

.preview__loading {
    border-color: rgb(18, 108, 164) transparent;
}

.preview__iframe {
    border-color: initial;
}

.deactivated-label {
    background-color: rgb(47, 51, 53);
    color: rgb(59, 165, 233);
}

.snapshots-modal__list {
    border-top-color: rgb(57, 62, 64);
}

.snapshots-modal__detail {
    color: rgb(159, 151, 138);
}

.snapshots-modal__delete {
    color: rgb(240, 104, 87);
}

.snapshots-modal__restore--loading {
    color: transparent;
}

.snapshots-modal__restore--loading::after {
    border-color: rgb(18, 108, 164) transparent;
}

.premium-features {
    list-style-image: initial;
}

.premium-features__feature-icon {
    color: rgb(100, 209, 151);
}

.admin-dashboard__box {
    border-color: rgb(57, 62, 64);
    background-color: rgb(23, 25, 26);
}

.admin-dashboard__numbers-name {
    color: rgb(190, 184, 175);
}

.admin-dashboard__numbers-value {
    color: rgb(209, 205, 198);
}

.admin-dashboard__numbers-percentage {
    color: rgb(190, 184, 175);
}

.admin-dashboard__numbers-percentage-value {
    color: rgb(100, 209, 151);
}

.admin-dashboard__numbers-percentage-value.admin-dashboard__numbers-percentage-value--negative {
    color: rgb(240, 104, 87);
}

.user-admin-username__initials {
    color: rgb(233, 231, 228);
    background-color: rgb(19, 113, 171);
}

.user-admin-username__menu {
    color: rgb(209, 205, 198);
}

.user-admin-username__menu:hover {
    text-decoration-color: initial;
    background-color: rgb(29, 31, 32);
}

.user-admin-active__icon.user-admin-active__icon--activated {
    color: rgb(100, 209, 151);
}

.user-admin-active__icon.user-admin-active__icon--deactivated {
    color: rgb(240, 104, 87);
}

.user-admin-group__icon {
    color: rgb(180, 172, 162);
}

.user-admin-group__item {
    background-color: rgb(29, 31, 32);
}

.user-admin-group__dropdown-item {
    background-color: rgb(29, 31, 32);
}

.user-admin-group__expand {
    border-color: rgb(57, 62, 64);
    color: rgb(209, 205, 198);
}

.user-admin-group__expand:hover {
    text-decoration-color: initial;
    background-color: rgb(29, 31, 32);
}

.user-admin-edit__delete {
    color: rgb(240, 104, 87);
}

.group-admin-name__menu {
    color: rgb(209, 205, 198);
}

.group-admin-name__menu:hover {
    text-decoration-color: initial;
    background-color: rgb(29, 31, 32);
}

.crudtable__header {
    background-color: rgb(23, 25, 26);
    border-bottom-color: rgb(57, 62, 64);
}

.crudtable__header-link {
    color: rgb(209, 205, 198);
}

.crudtable__header-link:hover {
    text-decoration-color: initial;
    background-color: rgb(29, 31, 32);
}

.crudtable__header-link.active {
    background-color: rgb(0, 65, 37);
}

.crudtable__header-link.active--primary {
    background-color: rgb(29, 31, 32);
}

.crudtable__header-link.active--warning {
    background-color: rgb(65, 41, 0);
}

.crudtable__header-link.active--error {
    background-color: rgb(65, 4, 0);
}

.crudtable__rows {
    background-color: rgb(29, 31, 32);
}

.crudtable__footer {
    background-color: rgb(26, 28, 29);
    border-top-color: rgb(57, 62, 64);
}

.crudtable__field {
    background-color: rgb(29, 31, 32);
    border-bottom-color: rgb(57, 62, 64);
    border-right-color: rgb(57, 62, 64);
}

.crudtable__field.crudtable__field--sortable:hover {
    text-decoration-color: initial;
    background-color: rgb(43, 47, 49);
}

.crudtable__field.crudtable__field--right {
    border-right-color: rgb(57, 62, 64);
}

.crudtable__cell {
    background-color: rgb(23, 25, 26);
    border-bottom-color: rgb(57, 62, 64);
}

.crudtable__cell.crudtable__cell--right {
    border-right-color: rgb(57, 62, 64);
}

.crudtable__cell.crudtable__cell--last {
    border-right-color: rgb(57, 62, 64);
}

.crudtable__loading::before {
    background-color: rgba(0, 0, 0, 0.2);
}

.crudtable__loading::after {
    border-color: rgb(18, 108, 164) transparent;
}

.row-comments__end-line {
    border-bottom-color: rgb(57, 62, 64);
}

.row-comments__comment-head-initial {
    background-color: rgb(19, 113, 171);
    color: rgb(233, 231, 228);
}

.row-comments__comment-head-time {
    color: rgb(175, 168, 158);
}

.row-comments__comment-text {
    background-color: rgb(43, 47, 49);
}

.row-comments__comment--right .row-comments__comment-text {
    background-color: rgb(47, 51, 53);
}

.row-comments__foot {
    border-top-color: rgb(57, 62, 64);
}

.row-comments-expand-button {
    color: rgb(209, 205, 198);
    background-color: rgb(29, 31, 32);
    text-decoration-color: initial;
}

.row-comments-expand-button:hover {
    background-color: rgb(29, 31, 32);
    text-decoration-color: initial;
}

.row-comments-expand-button__icon {
    color: rgb(159, 151, 138);
}

.auto-expandable-textarea__container {
    border-color: rgb(72, 80, 83);
    outline-color: initial;
    background-color: rgb(23, 25, 26);
}

.auto-expandable-textarea {
    border-color: initial;
}

.auto-expandable-textarea--loading {
    border-color: rgb(18, 108, 164) transparent;
}

.auto-expandable-textarea--loading-overlay::before {
    background-color: rgba(0, 0, 0, 0.16);
}

.licenses__item {
    color: rgb(209, 205, 198);
}

.licenses__item::before {
    background-color: rgb(19, 113, 171);
    color: rgb(233, 231, 228);
}

.licenses__item:hover {
    background-color: rgb(29, 31, 32);
    text-decoration-color: initial;
}

.licenses__item-title-license {
    color: rgb(175, 168, 158);
}

.licenses__item-details {
    list-style-image: initial;
}

.licenses__instance-id {
    background-color: rgb(29, 31, 32);
    color: rgb(209, 205, 198);
}

.license-yes {
    color: rgb(100, 209, 151);
}

.license-no {
    color: rgb(240, 104, 87);
}

.license-plan.license-plan--premium {
    background-color: rgb(29, 31, 32);
}

.license-plan.license-plan--expired {
    background-color: rgb(65, 4, 0);
}

.license-detail__item-description {
    color: rgb(163, 156, 144);
}

.license-detail__users {
    border-bottom-color: rgb(57, 62, 64);
}

.license-detail__user-email {
    color: rgb(159, 151, 138);
}

.license-detail__user-delete {
    color: rgb(159, 151, 138);
}

.license-detail__user-delete:hover {
    text-decoration-color: initial;
    color: rgb(180, 172, 162);
}

.kanban-view__collapsed-stack {
    background-color: rgba(0, 0, 0, 0.05);
}

.kanban-view__collapsed-stack:hover {
    text-decoration-color: initial;
    background-color: rgba(0, 0, 0, 0.07);
}

.kanban-view__stack {
    background-color: rgba(0, 0, 0, 0.05);
}

.kanban-view__drag {
    background-image: radial-gradient(rgb(61, 67, 69) 40%,
            rgba(0, 0, 0, 0) 40%);
}

.kanban-view__option {
    color: rgb(209, 205, 198);
}

.kanban-view__count {
    background-color: rgb(43, 47, 49);
    color: rgb(180, 172, 162);
}

.kanban-view__options {
    color: rgb(209, 205, 198);
}

.kanban-view__options:hover {
    text-decoration-color: initial;
    color: rgb(159, 151, 138);
}

.kanban-view__stack-card.kanban-view__stack-card--dragging {
    background-image: initial;
    background-color: transparent;
    border-color: initial;
    box-shadow: none;
}

.kanban-view__stack-card:not(.kanban-view__stack-card--disabled):not(.kanban-view__stack-card--dragging):hover {
    box-shadow: rgba(0, 0, 0, 0.32) 0px 1px 3px 0px;
}

.kanban-view__add-stack {
    background-color: rgb(23, 25, 26);
    border-color: rgb(72, 80, 83);
    color: rgb(209, 205, 198);
}

.kanban-view__add-stack:hover {
    text-decoration-color: initial;
    background-color: rgb(26, 28, 29);
}

.kanban-view__stacked-by-page {
    border-color: rgb(57, 62, 64);
    background-color: rgb(23, 25, 26);
}

.impersonate-warning {
    color: rgb(233, 231, 228);
    background-color: rgb(146, 93, 4);
}

.conditional-color-value-provider-form__color {
    background-color: rgb(29, 31, 32);
}

.conditional-color-value-provider-form__color-handle {
    background-image: radial-gradient(rgb(43, 47, 49) 40%,
            rgba(0, 0, 0, 0) 40%);
}

.conditional-color-value-provider-form__color-trash-link {
    color: rgb(209, 205, 198);
}

.conditional-color-value-provider-form__color-trash-link:hover {
    text-decoration-color: initial;
    background-color: rgb(29, 31, 32);
}

.conditional-color-value-provider-form__color-color {
    color: rgb(209, 205, 198);
}

.conditional-color-value-provider-form__color-filter-add {
    color: rgb(209, 205, 198);
}

.user-level-premium {
    background-color: rgb(19, 113, 171);
    color: rgb(233, 231, 228);
}

/* Override Style */
.vimvixen-hint {
    background-color: #7b5300 !important;
    border-color: #d9b012 !important;
    color: #f4e9c9 !important;
}

::placeholder {
    opacity: 0.5 !important;
}